html,
body {
  background-color: rgb(237, 247, 255);
}

#section1 {
  background: url(videos/production\ ID_4659833.mp4);
  background-attachment: fixed;
  background-size: cover;
  height: 42em;
}

.navbar {
  background-color: transparent;
  font-family: "Playfair Display", serif;
}

#oanell {
  color: black;
  margin-left: 1.2em;
  margin-top: 0.3em;
  font-size: 2.2em;
}

.navbar-item {
  color: black;
  font-size: 1.3em;
  margin-right: 1.5em;
}

.navbar-item:hover {
  color: black !important;
  background-color: transparent !important;
}

#divTitreApropos {
  background-color: white;
  margin-top: 31em;
  width: 50em;
  height: 4.8em;
}

#subtitleApropos {
  text-align: center;
  padding-top: 1em;
  font-family: "Playfair Display", serif;
  font-size: 1.9em;
}

/* A PROPOS */

#sectionApropos {
  width: 50em;
  background-color: white;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#imgOa {
  width: 20em;
  margin-left: 4em;
  margin-top: 2em;
}

#aPropos {
  width: 20em;
  margin-left: 1em;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: justify;
}

/* FORMULES */

.titleSection {
  background-color: white;
  width: 50em;
  height: 10em;
  text-align: center;
  font-family: "Playfair Display", serif;
}

#titleFormules {
  text-align: center;
  padding-top: 1em;
  font-family: "Playfair Display", serif;
  font-size: 1.9em;
}

#blockBlanc {
  background-color: white;
  height: 50em;
  width: 50em;
}

.blockBlancEntreSections {
  height: 3em;
  visibility: hidden;
}

.formules {
  background-image: url(/img/photo5.jpeg);
  background-size: 30em;
  background-repeat: no-repeat;
  background-position: right;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 54em;
  height: 20em;
}

.divFormules {
  background-color: white;
  width: 32em;
  height: 15em;
  margin-right: 24em;
  text-align: center justify;
  font-family: "Playfair Display", serif;
  padding: 1em;
}

.titleFormules12 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
}

/* HERO */

#heroImg {
  background-image: url(/img/photo2.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  opacity: 0.9;
}

/* CONTACT */

#divTitleSectionContact {
  background-color: white;
  width: 50em;
  height: 7em;
  text-align: center;
  font-family: "Playfair Display", serif;
}

#titleContact {
  text-align: center;
  padding-top: 1em;
  font-family: "Playfair Display", serif;
  font-size: 1.9em;
}

#sectionContact {
  width: 50em;
  background-color: white;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6em;
}

.columnContact {
  font-family: "Playfair Display", serif;
  font-size: 1.4em;
  padding-right: 3em;
  padding-left: 3em;
}

#divColumnTelMail {
  text-align: end;
  border-right: 1px solid black;
}
